body {
  background-color: #e0dad5;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Style pour le titre */
#titre {
  background-color: #444444;
  color: white;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
}

/* Style pour le logo */
#titre img {
  vertical-align: middle;
}

/* Style pour le corps */
#corp {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

/* Style pour les champs de texte et les boutons */
input[type="text"],
input[type="date"],
input[type="time"],
.nb {
  border-radius: 3px;
  border: 1px solid #cccccc;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: -10px;
  padding: 10px;
  width: 100%;
}

button {
  border-radius: 3px;
  border: 1px solid #cccccc;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}

.armeNB {
  width: 50px;
}

/* Style pour les cases à cocher */
input[type="checkbox"] {
  margin-right: 10px;
}

/* Style pour les titres des sections */
label {
  font-weight: bold;
}

/* Style pour le bouton de validation */
#res {
  background-color: #444444;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  width: auto;
  border-radius: 3px;
  border: 1px solid #cccccc;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}

/* Style pour les sections d'affichage des résultats */
#resultat,
#resultAgent {
  font-weight: bold;
}

/* Style pour les sections des boutons de navigation */
.page {
  background-color: #444444;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
}

#valide {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

/* Style pour la section "Contrat Validé" */
#contartValide {
  visibility: visible;
}

/* Style pour la section "Annonce Sécu" */
#annonceSecu {
  display: none;
}

/* Style pour la barre de réduction */
#reducDiv {
  display: none;
}

/* Style pour les éléments à numéro */
.nb {
  width: 60px;
}

/* Style pour les éléments de mission */
.mission {
  width: 200px;
}

/* Style pour les éléments de nom */
.nom {
  width: 100px;
}

/* Style pour les éléments de date */
.dateM {
  width: 140px;
}
